
  <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{doctor?.name}} </mat-card-title>

          </mat-card-header>
          <img mat-card-image src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1675317526~exp=1675318126~hmac=e28ad2ee99be677341db9eb703b76b8c4f7c662fb63caf6d6e2b0b1b12dbf443" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
            </p>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center" (click)="callBooking()">
            <button mat-raised-button color="primary" >Book Doctor Appointment</button>
          </mat-card-actions>
        </mat-card>
  </div>