
  <div>
    <p>
        Check availability of Doctor
    </p>
  </div>
  <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">


  <div  [fxFlex]="30">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <!-- <mat-card-title>Mountains {{num}}</mat-card-title> -->
        <mat-card-title>{{doctor?.name}} </mat-card-title>

      </mat-card-header>
      <img mat-card-image src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1675317526~exp=1675318126~hmac=e28ad2ee99be677341db9eb703b76b8c4f7c662fb63caf6d6e2b0b1b12dbf443" alt="Photo of a Shiba Inu">
      <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
      <mat-card-content>
        <p>
        </p>
      </mat-card-content>
    </mat-card>
</div>
<div [fxFlex]="70">
    <div >
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <!-- <mat-card-title>Mountains {{num}}</mat-card-title> -->
              <mat-card-title>{{doctor?.name}} </mat-card-title>
      
            </mat-card-header>
            <mat-card-content>
                <mat-form-field style="width:100%;" class="select-input-field">
                    <mat-select [(value)]="selected" placeholder="Select Day">
                      <!-- <mat-option [value]="">None</mat-option> -->
                      <mat-option *ngFor="let inspectionType of inspectionTypes" [value]="inspectionType.description">{{inspectionType.description}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center center" >
              <button mat-raised-button color="primary" (click)='checkDoctorAvailavility()'>Check Doctor Slots</button>
            </mat-card-actions>
          </mat-card>
    </div>




    <div *ngIf="showTable">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="From">
    <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="To">
    <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
  </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Select Slot">
        <mat-header-cell *matHeaderCellDef> Select Slot </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)='bookSlot(element)'>Book Slot</button>
        </mat-cell>
      </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
    </div>
    
</div>
</div>